header {display: none;}.PostTop {display: none;}.TOPfooter {display: none;}footer {display: none;}.UP {display: none;}body {background:#fff;}   
  
* Sting Web Player Css Start */
   
   post.hentry.uncustomized-post-template {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box
}

.post iframe {
    width: 100%;
    height: 100%;
    border: 0
}

.multii {
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;
    padding: 10px 0
}

.multii button {
    margin: 0 10px;
    border: 0;
    font: bold 15px tahoma;
    padding: 5px 15px;
    border-radius: 21px;
    border: 2px solid #ee2d2d;
    background: #ee2d2d;
    color: #fceded
}

.multii button:hover {
    background: 0 0;
    border: 2px solid #ee2d2d;
    transition: .5s;
    color: #ee2d2d
}

#myDIV {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(177, 32, 37, .32);
    box-shadow: inset 0 0 100px 60px #000
}

#share_channel {
    position: absolute;
    width: 100%;
    height: 100%
}

span#share_text {
    display: block;
    color: #fff;
    margin-top: 40px;
    text-align: center;
    font: bold 22px arial
}

iframeStingWeb#z {
    margin: 39px 20px 26px 0;
    padding: 0 45px;
    height: 40px;
    text-align: left;
    border-radius: 54px;
    width: 90%;
    border: 0;
    display: block
}

#fluid_video_wrapper_hls-video {
    width: 100% !important;
    height: 100% !important
}

.fluid_video_wrapper {
    position: relative;
    display: inline-block
}

.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_controls_progress_container .fluid_controls_progress {
    background-color: red
}

.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_controls_progress_container {
    display: none
}

#hls-video_fluid_controls_container {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 53px;
    z-index: 1
}

#hls-video_fluid_initial_play_button:before {
    font-size: 2.5vw;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    background: linear-gradient(transparent, #000);
    height: 150px
}

.fluid_controls_left {
    width: 24px;
    left: 20px
}

.fluid_controls_left,
.fluid_controls_right {
    position: absolute;
    height: 24px;
    top: 23px
}

#hls-video_fluid_control_playpause {
    position: relative
}

.fluid_controls_container .fluid_button {
    width: 24px;
    user-select: none
}

.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_slider {
    cursor: pointer
}

.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_download:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_fullscreen:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_fullscreen_exit:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_mute:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_pause:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_play:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_playback_rate:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_video_source:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_volume:before {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 1px;
    left: 5px;
    content: &quot;&quot;;
    opacity: .8;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    background-position: -15px -57px;
    background-image: url(&quot;data:image/svg+xml,%0A%3Csvg width=&#39;272&#39; height=&#39;96&#39; version=&#39;1.1&#39; viewBox=&#39;0 0 272 96&#39; xmlns=&#39;http://www.w3.org/2000/svg&#39; xmlns:xlink=&#39;http://www.w3.org/1999/xlink&#39;%3E%3Ctitle%3Efluid-icons%3C/title%3E%3Cdesc%3ECreated using Figma%3C/desc%3E%3Cg transform=&#39;translate(-3702 106)&#39;%3E%3CclipPath id=&#39;q&#39; clip-rule=&#39;evenodd&#39;%3E%3Cpath d=&#39;m3702-106h272v96h-272v-96z&#39; fill=&#39;%23fff&#39;/%3E%3C/clipPath%3E%3Cg clip-path=&#39;url(%23q)&#39;%3E%3Cuse transform=&#39;translate(3757 -86)&#39; fill=&#39;%23FFFFFF&#39; xlink:href=&#39;%23o&#39;/%3E%3Cuse transform=&#39;translate(3757 -48)&#39; fill=&#39;%23FFFFFF&#39; xlink:href=&#39;%23i&#39;/%3E%3Cuse transform=&#39;translate(3830 -84)&#39; fill=&#39;%23FFFFFF&#39; xlink:href=&#39;%23h&#39;/%3E%3Cuse transform=&#39;translate(3723 -86)&#39; fill=&#39;%23FFFFFF&#39; xlink:href=&#39;%23g&#39;/%3E%3Cuse transform=&#39;translate(3723 -48)&#39; fill=&#39;%23FFFFFF&#39; xlink:href=&#39;%23f&#39;/%3E%3Cuse transform=&#39;translate(3795 -46)&#39; fill=&#39;%23FFFFFF&#39; xlink:href=&#39;%23e&#39;/%3E%3Cuse transform=&#39;translate(3831 -46)&#39; fill=&#39;%23FFFFFF&#39; xlink:href=&#39;%23d&#39;/%3E%3Cuse transform=&#39;translate(3865 -44)&#39; fill=&#39;%23F2C94C&#39; xlink:href=&#39;%23c&#39;/%3E%3Cuse transform=&#39;translate(3795 -84)&#39; fill=&#39;%23FFFFFF&#39; xlink:href=&#39;%23b&#39;/%3E%3Cuse transform=&#39;translate(3866 -83)&#39; fill=&#39;%23FFFFFF&#39; xlink:href=&#39;%23a&#39;/%3E%3Cuse transform=&#39;translate(3939 -47)&#39; fill=&#39;%23FFFFFF&#39; xlink:href=&#39;%23n&#39;/%3E%3Cmask id=&#39;p&#39;%3E%3Cuse transform=&#39;translate(3902 -46)&#39; fill=&#39;white&#39; xlink:href=&#39;%23m&#39;/%3E%3C/mask%3E%3Cg mask=&#39;url(%23p)&#39;%3E%3Cuse transform=&#39;translate(3902 -46)&#39; fill=&#39;%23FFFFFF&#39; xlink:href=&#39;%23l&#39;/%3E%3C/g%3E%3Cuse transform=&#39;translate(3904 -85)&#39; fill=&#39;%23FFFFFF&#39; xlink:href=&#39;%23k&#39;/%3E%3Cuse transform=&#39;translate(3939 -85)&#39; fill=&#39;%23FFFFFF&#39; xlink:href=&#39;%23j&#39;/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cpath id=&#39;o&#39; d=&#39;m0 5.5924v5.8152h3.7778l4.7222 4.8461v-15.507l-4.7222 4.8461h-3.7778zm12.75 2.9076c0-1.7155-0.9633-3.1887-2.3611-3.9059v7.8021c1.3978-0.7075 2.3611-2.1807 2.3611-3.8962zm-2.3611-8.5v1.9966c2.7294 0.83352 4.7222 3.431 4.7222 6.5034 0 3.0724-1.9928 5.6699-4.7222 6.5034v1.9966c3.7872-0.882 6.6111-4.3518 6.6111-8.5 0-4.1482-2.8239-7.618-6.6111-8.5z&#39;/%3E%3Cpath id=&#39;i&#39; d=&#39;m12.75 8.5c0-1.6717-0.9633-3.1072-2.3611-3.8061v2.0872l2.3139 2.3139c0.0283-0.18889 0.0472-0.38722 0.0472-0.595zm2.3611 0c0 0.88778-0.1889 1.7189-0.51 2.4933l1.4261 1.4261c0.6234-1.1711 0.9728-2.5027 0.9728-3.9194 0-4.0422-2.8239-7.4233-6.6111-8.2828v1.9456c2.7294 0.81222 4.7222 3.3433 4.7222 6.3372zm-13.912-8.5l-1.1994 1.1994 4.4672 4.4672h-4.4672v5.6666h3.7778l4.7222 4.7223v-6.3562l4.0139 4.0139c-0.6328 0.4911-1.3411 0.8784-2.125 1.1145v1.9455c1.3033-0.2927 2.4839-0.8972 3.485-1.7094l1.9267 1.9361 1.1994-1.1994-8.5-8.5-7.3006-7.3006zm7.3006 0.94444l-1.9739 1.9739 1.9739 1.9739v-3.9478z&#39;/%3E%3Cpath id=&#39;h&#39; d=&#39;m12.444 0h-10.889c-0.86334 0-1.5556 0.7-1.5556 1.5556v10.889c0 0.8556 0.69222 1.5556 1.5556 1.5556h10.889c0.8556 0 1.5556-0.7 1.5556-1.5556v-10.889c0-0.85556-0.7-1.5556-1.5556-1.5556zm-6.2222 9.3333h-1.1667v-1.5556h-1.5556v1.5556h-1.1667v-4.6667h1.1667v1.9444h1.5556v-1.9444h1.1667v4.6667zm1.5556-4.6667h3.1111c0.4278 0 0.7778 0.35 0.7778 0.77777v3.1111c0 0.42777-0.35 0.77777-0.7778 0.77777h-3.1111v-4.6667zm1.1667 3.5h1.5556v-2.3333h-1.5556v2.3333z&#39;/%3E%3Cpath id=&#39;g&#39; d=&#39;m0 0v17l13-8.5-13-8.5z&#39;/%3E%3Cpath id=&#39;f&#39; d=&#39;m0 17h4.3333v-17h-4.3333v17zm8.6667-17v17h4.3333v-17h-4.3333z&#39;/%3E%3Cpath id=&#39;e&#39; d=&#39;m0 11h3v3h2v-5h-5v2zm3-8h-3v2h5v-5h-2v3zm6 11h2v-3h3v-2h-5v5zm2-11v-3h-2v5h5v-2h-3z&#39;/%3E%3Cpath id=&#39;d&#39; d=&#39;m0 12l8.5-6-8.5-6v12zm10-12v12h2v-12h-2z&#39;/%3E%3Cpath id=&#39;c&#39; d=&#39;m1.52 4.5c0-1.539 1.112-2.79 2.48-2.79h3.2v-1.71h-3.2c-2.208 0-4 2.016-4 4.5s1.792 4.5 4 4.5h3.2v-1.71h-3.2c-1.368 0-2.48-1.251-2.48-2.79zm3.28 0.9h6.4v-1.8h-6.4v1.8zm7.2-5.4h-3.2v1.71h3.2c1.368 0 2.48 1.251 2.48 2.79s-1.112 2.79-2.48 2.79h-3.2v1.71h3.2c2.208 0 4-2.016 4-4.5s-1.792-4.5-4-4.5z&#39;/%3E%3Cpath id=&#39;b&#39; d=&#39;m2 9h-2v5h5v-2h-3v-3zm-2-4h2v-3h3v-2h-5v5zm12 7h-3v2h5v-5h-2v3zm-3-12v2h3v3h2v-5h-5z&#39;/%3E%3Cpath id=&#39;a&#39; d=&#39;m4.4546 8.7015l-3.3409-3.4478-1.1136 1.1493 4.4545 4.597 9.5454-9.8508-1.1136-1.1493-8.4318 8.7015z&#39;/%3E%3Cpath id=&#39;n&#39; d=&#39;m12.348 7.686c0.0288-0.224 0.0504-0.448 0.0504-0.686s-0.0216-0.462-0.0504-0.686l1.5184-1.155c0.1368-0.105 0.1727-0.294 0.0864-0.448l-1.4393-2.422c-0.0863-0.154-0.2806-0.21-0.439-0.154l-1.7919 0.7c-0.37418-0.28-0.77717-0.511-1.2162-0.686l-0.27346-1.855c-0.02159-0.168-0.17272-0.294-0.35263-0.294h-2.8786c-0.1799 0-0.33103 0.126-0.35262 0.294l-0.27346 1.855c-0.43898 0.175-0.84198 0.413-1.2162 0.686l-1.7919-0.7c-0.16552-0.063-0.35263 0-0.43898 0.154l-1.4393 2.422c-0.093553 0.154-0.050374 0.343 0.086356 0.448l1.5184 1.155c-0.02878 0.224-0.05037 0.455-0.05037 0.686s0.02159 0.462 0.05037 0.686l-1.5184 1.155c-0.13673 0.105-0.17271 0.294-0.086356 0.448l1.4393 2.422c0.08635 0.154 0.28066 0.21 0.43898 0.154l1.7919-0.7c0.37421 0.28 0.77721 0.511 1.2162 0.686l0.27346 1.855c0.02159 0.168 0.17272 0.294 0.35262 0.294h2.8786c0.17991 0 0.33104-0.126 0.35263-0.294l0.27346-1.855c0.43898-0.175 0.84197-0.413 1.2162-0.686l1.7919 0.7c0.1655 0.063 0.3527 0 0.439-0.154l1.4393-2.422c0.0863-0.154 0.0504-0.343-0.0864-0.448l-1.5184-1.155zm-5.3469 1.764c-1.3889 0-2.5187-1.099-2.5187-2.45s1.1298-2.45 2.5187-2.45 2.5187 1.099 2.5187 2.45-1.1298 2.45-2.5187 2.45z&#39;/%3E%3Cpath id=&#39;m&#39; d=&#39;m0 0h16v12h-16v-12z&#39;/%3E%3Cpath id=&#39;l&#39; d=&#39;m0 0v-2h-2v2h2zm16 0h2v-2h-2v2zm0 12v2h2v-2h-2zm-16 0h-2v2h2v-2zm0-10h16v-4h-16v4zm14-2v12h4v-12h-4zm2 10h-16v4h16v-4zm-14 2v-12h-4v12h4z&#39;/%3E%3Cpath id=&#39;k&#39; d=&#39;m12 5.2941h-3.4286v-5.2941h-5.1429v5.2941h-3.4286l6 6.1765 6-6.1765zm-12 7.9412v1.7647h12v-1.7647h-12z&#39;/%3E%3Cpath id=&#39;j&#39; d=&#39;m9.3333 0h-4.6667v1.5238h4.6667v-1.5238zm-3.1111 9.9048h1.5556v-4.5714h-1.5556v4.5714zm6.2456-5.0362l1.1044-1.0819c-0.3344-0.38857-0.7-0.75429-1.0966-1.0743l-1.1045 1.0819c-1.2055-0.94477-2.7222-1.5086-4.3711-1.5086-3.8656 0-7 3.0705-7 6.8572 0 3.7866 3.1267 6.8571 7 6.8571 3.8733 0 7-3.0705 7-6.8571 0-1.6152-0.5756-3.101-1.5322-4.2743zm-5.4678 9.6076c-3.01 0-5.4444-2.3848-5.4444-5.3333 0-2.9486 2.4344-5.3333 5.4444-5.3333s5.4444 2.3848 5.4444 5.3333c0 2.9485-2.4344 5.3333-5.4444 5.3333z&#39;/%3E%3C/defs%3E%3C/svg%3E&quot;)
}

.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_pause:before {
    background-position: -15px -57px
}

.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_play:before {
    background-position: -15px -19px
}

.fluid_controls_right {
    left: 78px;
    right: 20px
}

div#hls-video_fluid_control_fullscreen {
    float: right;
    position: relative
}

.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_fullscreen:before {
    background-position: -88px -19px
}

#hls-video_fluid_control_volume_container {
    height: 24px;
    width: 56px;
    left: 25px;
    top: -1px;
    z-index: 2;
    opacity: .8;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    position: absolute
}

#hls-video_fluid_control_volume {
    position: relative;
    height: 3px;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(171, 172, 172, .68);
    z-index: 3
}

#hls-video_fluid_control_currentvolume {
    float: left;
    background-color: #fff;
    height: 3px
}

#hls-video_fluid_control_volume_currentpos {
    width: 11px;
    height: 11px;
    position: absolute;
    top: -4px;
    border-radius: 6px;
    background-color: #fff
}

div#hls-video_fluid_control_mute {
    left: -10px;
    position: absolute
}

.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_volume:before {
    background-position: -52px -19px
}

.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_mute:before {
    background-position: -52px -57px
}

.fluid_video_wrapper .vast_video_loading:before {
    background-image: url(&quot;data:image/svg+xml,%0A%3Csvg class=&#39;lds-eclipse&#39; width=&#39;200px&#39; height=&#39;200px&#39; style=&#39;background:none&#39; preserveAspectRatio=&#39;xMidYMid&#39; viewBox=&#39;0 0 100 100&#39; xmlns=&#39;http://www.w3.org/2000/svg&#39;%3E%3Cpath transform=&#39;rotate(202.5 50 51)&#39; d=&#39;m30 50a20 20 0 0 0 40 0 20 22 0 0 1 -40 0&#39; fill=&#39;%23fff&#39; ng-attr-d=&#39;%7B%7Bconfig.pathCmd%7D%7D&#39; ng-attr-fill=&#39;%7B%7Bconfig.color%7D%7D&#39;%3E%3CanimateTransform attributeName=&#39;transform&#39; begin=&#39;0s&#39; calcMode=&#39;linear&#39; dur=&#39;0.8s&#39; keyTimes=&#39;0;1&#39; repeatCount=&#39;indefinite&#39; type=&#39;rotate&#39; values=&#39;0 50 51;360 50 51&#39;/%3E%3C/path%3E%3C/svg%3E&quot;);
    background-position: center, center;
    background-repeat: no-repeat, repeat;
    background-color: rgba(0, 0, 0, .2);
    content: &#39;&#39;;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0
}

.fluid_video_wrapper video {
    cursor: pointer !important;
    position: relative;
    background-color: #000;
    display: block
}

.fluid_video_wrapper.fluid_player_layout_default .fade_out {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility .5s, opacity .5s;
    transition: visibility .5s, opacity .5s
}

.fluid_video_wrapper.fluid_player_layout_default .fade_in {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility .5s, opacity .5s;
    transition: visibility .5s, opacity .5s
}

#hls-video_fluid_control_duration {
    display: inline-block;
    position: absolute;
    left: 95px;
    width: 6px;
    height: 6px;
    border-radius: 3.5px;
    background-color: #ff0101;
    margin-top: 7px;
    font-size: 0
}

#hls-video_fluid_control_duration:before {
    margin-right: -32px;
    content: &#39;live&#39;;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    margin-top: -7px;
    position: absolute
}

#hls-video_fluid_context_menu ul {
    list-style: none;
    padding: 0;
    margin: 0
}

div#hls-video_fluid_controls_progress_container {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 40px;
    height: 3px
}

div#hls-video_fluid_timeline_preview {
    font-size: 0
}

#hls-video_fluid_context_menu ul li {
    padding: 5px;
    cursor: pointer;
    text-align: left
}

#hls-video_fluid_context_menu ul li:hover {
    background-color: #1e1e1e;
    color: #fbfaff
}

.fluid_html_on_pause,
.fluid_pseudo_poster {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none
}

.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_fullscreen_exit:before {
    background-position: -88px -57px
}

.fluid_html_on_pause * {
    pointer-events: auto
}

.fluid_initial_play {
    width: 68px;
    height: 48px;
    opacity: .8;
    background-color: red !important;
    border-radius: 10px;
    cursor: pointer
}

.fluid_initial_pause_button {
    margin-top: 15px;
    margin-left: -11px;
    width: 8px;
    height: 31px;
    border: 9px solid #fff;
    border-top: 0;
    border-bottom: 0;
    position: absolute;
    left: 50%
}

.fluid_initial_play .fluid_initial_play_button {
    margin-top: 13px;
    margin-left: 27px;
    border-style: solid;
    border-width: 11px 0 11px 20px;
    border-color: transparent transparent transparent #fff
}

.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_download:hover:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_fullscreen:hover:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_fullscreen_exit:hover:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_mute:hover:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_pause:hover:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_play:hover:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_playback_rate:hover:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_theatre:hover:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_video_source:hover:before,
.fluid_video_wrapper.fluid_player_layout_default .fluid_controls_container .fluid_button.fluid_button_volume:hover:before {
    opacity: 1
}

.fluid_initial_play:hover {
    background-color: red !important;
    opacity: 1
}

#hls-video_fluid_control_video_source {
    float: right;
    position: relative;
    right: 175px;
    display: block !important
}

.fluid_button.fluid_button_video_source:before {
    background-position: -233px -56px !important
}

div#hls-video_fluid_control_video_source {
    display: none !important
}

div#hls-video_fluid_controls_progress_container {
    bottom: 58px;
    height: 2px
}

#hls-video_fluid_controls_container {
    left: 0;
    right: 0;
    height: 58px
}

.fluid_video_wrapper .vast_video_loading:after {
    color: #ffffff73;
    content: &quot;اضغط على تحديث اذا توقفت البث عن العمل &quot;;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    font-family: Tajawal;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 14px
}

#hls-video_fluid_initial_play_button:before {
    top: 20px;
    font-family: Tajawal;
    font-weight: bold;
    height: unset;
    bottom: unset;
    background: unset;
    text-shadow: 1px 1px 1px #2b2727;
    opacity: 1.8;
}

#hls-video_fluid_control_duration:before {
    content: &#39;مباشر&#39; !important;
    right: -10px;
    font-size: 12px
}

@media screen and (max-width:1225px) {
    #hls-video_fluid_initial_play_button:before {
        font-size: 15px !important
    }
}

@media screen and (max-width:500px) {
    #hls-video_fluid_initial_play_button:before {
        font-size: 12px !important
    }
}

.rfs,
.shr {
    cursor: pointer;
    position: absolute;
    top: 20px;
    padding: 6px;
    border: 0;
    border-radius: 8px;
    z-index: 99999999999999999999;
    font-size: 11px;
    font-family: tahoma;
    color: #fff;
    text-decoration: none;
    background: #b12025
}

#hls-video_fluid_control_duration:before {
    font-family: tahoma
}

.fluid_initial_play {
    width: 48px;
    border-radius: 100%
}

.fluid_initial_play .fluid_initial_play_button {
    margin-left: 17px
}

a.getCode {
    top: 40px
}

.CodeChannle {
    background: #00000096;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 2
}

.CodeChannle iframeStingWeb {
    position: relative;
    top: 40%;
    border-radius: 8px;
    width: 90%;
    height: 50px;
    background: #0000007a;
    display: block;
    margin: 0 auto;
    outline: 0;
    color: #fff;
    padding: 5px;
    direction: ltr;
    text-align: center;
    z-index: 2;
    font-weight: 800;
    font-size: 12px;
}

a.getCode {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #ff0101;
    padding: 3px 10px;
    margin: 5px 0;
    border-radius: 5px;
    position: fixed;
    left: 30px;
    top: 6px;
    font-size: 12px;
    z-index: 3;
    font-weight: 900;
}

a.tahdith {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #ff0000;
    padding: 3px 5px;
    margin: 5px 0;
    border-radius: 5px;
    position: fixed;
    right: 30px;
    top: 5px;
    font-size: 12px;
    z-index: 3;
    font-weight: 900;
}

#hls-video_fluid_context_menu {
    background-color: #ff0000c4;
    color: #fff;
    font-size: 13px;
    font-family: Tajawal;
    font-weight: 600;
    white-space: nowrap;
    text-align: start;
    z-index: 11;
    opacity: .8;
    border-radius: 11px;
    text-align-last: center
}

img {
    width: 45px;
    height: 40px;
    border-radius: 12px;
}

#hls-video_fluid_control_theatre {
    display: inline-block;
    height: 75px;
    position: fixed;
    top: 50px;
    right: 75px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-text-fill-color: #ffe4c4;
    opacity: 0.7;
    border-radius: 12px;
}
.post-share {
    display: none;
}
